<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BEAT</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/upload">
                <div class="sidebar-brand-text mx-3">BEAT</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                일정
            </div>

            <!-- Nav Item - Upload -->
            <li class="nav-item active">
                <a class="nav-link" href="/upload">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>일정 생성</span></a>
            </li>

            <!-- Nav Item - Schedules -->
            <li class="nav-item">
                <a class="nav-link" href="/schedules">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>일정 관리</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                기사
            </div>

            <!-- Nav Item - Register Truckers -->
            <li class="nav-item">
                <a class="nav-link" href="/registerTruckers">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>기사 등록</span></a>
            </li>

            <!-- Nav Item - Drivers -->
            <li class="nav-item">
                <a class="nav-link" href="/truckers">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>기사 관리</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="text-center">
                        <h1 class="h3 mb-0 text-gray-800">운송 목록을 올려주세요</h1>
                    </div>

                    <form id="dateForm">
                        <label for="date">기준 날짜 선택: </label>
                        <input type="date" id="selectedDate" name="date" required>
                    </form>

                    <form action="/lists" class="dropzone" id="uploadForm"></form>

                    <div id="uploadResult" class="container-fluid"></div>

                    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
                    <script src="js/dropzone.js"></script>

                    <button id="submitUpdates" class="btn btn-primary mt-3">Submit Updates</button>

                    <script>
                        // Handle form submission
                        document.getElementById("submitUpdates").addEventListener("click", function () {
                            const selectedDate = document.getElementById('selectedDate').value;
                            const rows = document.querySelectorAll("#uploadResult table tbody tr");
                            const data = Array.from(rows).map((row, index) => {
                                const target = row.getAttribute('data-id');
                                const depOption = JSON.parse(row.querySelector(`#dep_address-${index} select`).value);
                                const destOption = JSON.parse(row.querySelector(`#dest_address-${index} select`).value);
                                const dep_time_min = row.querySelector(`.dep_time_min[data-index="${index}"]`).value;
                                const dep_time_max = row.querySelector(`.dep_time_max[data-index="${index}"]`).value;
                                const dest_time_min = row.querySelector(`.dest_time_min[data-index="${index}"]`).value;
                                const dest_time_max = row.querySelector(`.dest_time_min[data-index="${index}"]`).value;

                                return {
                                    selectedDate: selectedDate,
                                    dep_address: depOption.address,
                                    dep_lat: depOption.latitude,
                                    dep_lon: depOption.longitude,
                                    dest_address: destOption.address,
                                    dest_lat: destOption.latitude,
                                    dest_lon: destOption.longitude,
                                    dep_time_min,
                                    dep_time_max,
                                    dest_time_min,
                                    dest_time_max,
                                    target: target
                                };
                            });

                            // Submit the data via fetch or any other method
                            fetch('/lists', {
                                method: 'PATCH',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            })
                                .then(response => response.json())
                                .then(result => {
                                    if (result.error) {
                                        throw new Error(result.error);
                                    }
                                    fetch('/schedule', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ selectedDate: selectedDate })
                                    })
                                        .then(response => response.json())
                                        .then(result => {
                                            if (result.error) {
                                                throw new Error(result.error);
                                            }
                                            alert('성공적으로 일정이 생성됐습니다!');
                                        })
                                })
                                .catch(error => {
                                    console.error("Error submitting addresses:", error);
                                    alert("Failed to submit addresses.");
                                });
                        });
                    </script>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>